body
{
    background-color: blue;
    display:flex;
    justify-content: center;
}

form{
    padding: 40px;
    border-radius: 20px;
    background-color: gray;
}

select
{
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
}

option
{
    padding: 10px;
}

input[type="submit"]
{
    color: violet;
}